*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

a:link{
    text-decoration: none;
    color: none;
}

body{
    font-family: Arial;
}

.header-inner-content{
    max-width: 1300px;
    margin-left: auto;
    margin-right: auto;
}

.navbar{
 background-color: #4d3147;
 padding: 1rem;
 position: sticky;
 top: 0;
 box-shadow: 10px 0px 10px #4d3147;
 z-index: 99;
}

.navbar>div{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo{
    color:#15031a;
}

.logo span{
    color: white;
}

nav ul{
    display: flex;
    list-style: none;
    align-items: center;
}

.nav-img-space{
    display: flex;
    align-items: center;

}

.nav-img-space img{
  width: 30px;
  cursor: pointer;
}

.nav-img-space :first-child{
    margin-right: 1rem;
}

nav ul li{
    color: white;
    margin-right: 1.5rem;
    cursor: pointer;

}

nav ul li:hover{
   transform: translateY(-5px);
   transition: all 0.2s;
   font-weight: bold;

}

.menu{
    display: none;
}

header{
    background-image: radial-gradient(#fff, #c9b7c7);
}

.header-all-content{
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-self: center;
    
}

.header-content-left h2{
    font-size: 3.2rem;
    margin-bottom: 1.5rem;
}

.header-content-left p{
    line-height: 1.5rem;
    margin-bottom: 1.5rem;
}


.header-content-left{

    height: 100%;
    flex-basis: 50%;
}

.header-content-right{
    flex-basis: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.header-content-right img{
    width: 115%;
    padding: 0px;
    box-shadow: 0px 10px 10px #c9b7c720 ;
    border-radius: 10%;
    cursor: pointer;
    
}


.header-content-right p{
    display: none;
    text-align: center;


}

.main-brands{
    background-color: #866a80;
    text-align: center;
    padding: 1rem;
    box-shadow: 0px 0px 5px #866a80 ;
    font-size: 20px;
}

.brands-content{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
    flex-wrap: wrap;
}

.container{
    position: relative;
    width: 270px;
    height: 350px;
    margin-top: 100px;
    display: flex;
    

}

.container:hover .flip{
    transform: rotateY(180deg);
}

.flip{
    position: absolute;
    width: 100%;
    height: 100%;
    cursor: pointer;
    transform-style: preserve-3d;
    transition: .5s;
}

.front,.back{
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 20px;
    box-shadow: 0px 0px 10px #15031a33;
    backface-visibility: hidden;
    border-radius: 10px;
}

.space{
    width: 270px;
    height: 350px;
}

.front img{
    width: 100%;
    height: 100%;

}

.back{
    background-color: #fffbff;
    transform: rotateY(180deg);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 40px;
    color: #000000;

}

.store-content{
    margin-top: 100px;
    font-size: 20px;
    padding: 30px;
    
}

.store-content a{
    cursor: pointer;
    text-decoration: none;
    color: #000000;
}

#Store{
    align-items: center;
    justify-content: center;
    display: flex;
}

.plate{
    width: 90vw;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    padding: 40px;
    gap: 40px;

}

.plate:hover > :not(:hover){

    opacity: 10;
    transform: scale(0.9);
  }

.products{
    width: 250px;
    height: 350px;
    padding: 10px;
    border-radius: 20px;
    box-shadow: 0px 0px 10px #15031a33;

    transition: .35s;
    cursor: pointer;
}

.products img{
    width: 100%;
}



.inside{
    align-items: center;
    margin-top: 100px;
    justify-content: center;
    display: flex;
}

.inside h2{
    text-align: center;
    padding: 10px;
}

.inside p{
    text-align: center;
    padding: 10px;
}

.contact{
    width: 90vw;
    background-color: #f8f4f4;
}

.contact :first-child{
    display:flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
}

.contact img{
    width: 120px;
}

form{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 50px;
}

input, textarea, button {
    margin-top: 50px;
    margin-bottom: 60px;
    padding: 10px;
    border: 1px solid #bdc3c7;
    border-radius: 5px;
  }

button{
    background-color: #866a80;
    width: 250px;
    border-radius: 30px;
    cursor: pointer;
    
}

input{
    width: 450px;
    height: 50px;
}

footer {
    background-color: #4d3147;
    margin-top: 100px;
    height: 100%;
    padding: 20px;
}

footer h3{
    padding: 20px;
}
.redes{
    width: 70vw;
    display: inline;
    text-align: center;

}

.flags{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.flags img{
    width: 45px;
}